@{
    ViewData["Title"] = "Wizard Assignment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="row justify-content-center mt-5">
    <div class="col-lg-11 col-xl-9">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h1>Review Wizard</h1>
            </div>
            <div class="card-body">
                <p class="text-muted">Welcome to the solution of the Review Wizard.</p>
            </div>
            <div class="card-footer text-right">
               
                <a class="btn btn-primary" href="/ReviewPlane/ReviewPlane">Start Review</a>
            </div>
        </div>
    </div>
</div>
